body{
  background-color: #00636d
}

.textCenter{
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  line-height: 51px;
}
.main-content {
  margin: 0 auto;
  width: 960px;
}
.login{
  display: inline-block;
}

.loginContainer {
  width: 40%;
  margin: 0 auto;

}
.loginButton{
  width: 100px;
  margin-left: 144px;
}

.inputSize{
  width: 200px;
  margin-left: 94px;
}


.userInfo{
  width: 80%;
  margin: 0 auto;
}

.userBalance {
  display: inline-block;
  width: 384px;
  text-align: center;
}

.userInfo button {
  margin-left: 45%;
}

.counter{
  margin:0;
  font-size: 200px;
  margin-left: 45%;
}

.title{
  margin-left: 35%;
}

.buttonCenter {
  margin-left: 45%;
}

.move{
  display: inline-block ;
  //padding: 10px;
}


.gameboard {
  height: 160px;
  width: 460px;
  float: left;
}

.gameboardPadding{
    padding-top: 10px;
    padding-left: 10px;
  }

.bingoCell   {
  background-color: #fff;
  height: 51px;
  width: 49px;
  float: left;
  text-align: center;
}
.bingoBackground{
  margin: 0 auto;
  width: 570px;
  height: 180px;
  background-color: #ffdce4  }
.cellBorder {
  border: 1px solid #000;
}
.numbersLeft {
  height: 158px;
  width: 80px;
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  background-image: url("../images/togo_default.png");
  background-repeat:no-repeat;
  background-size: 100% 100%;
}

.checked{
  background-color: #00d4b4;
}

.counterNumberSize{
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  line-height: 85px;
  //margin-top: 15px;
}

.togofix {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  line-height: 20px;
}

.bingoPlayingInfo {
  margin: 0 auto;
  width: 570px;
  vertical-align: middle;
}

.pushRight{
  float: right;
}

.winner{
  margin: 0 auto;
  text-align: center;
}

.bingoBall {
  background-image: url("../images/ball-mobile.png");
  background-repeat:no-repeat;
  background-size: 100% 100%;
}
